<section id="main" role="main" class="grid_8 alpha">
      <%= link_to(image_tag("logo.png"), "http://www.codefire.com.au") %>
      <%= image_tag("hiring.png", :id => "hiring", :alt => "We're hiring!") %>
      <h2>We are looking for the best and brightest developers, designers and thinkers to join our team.</h2>
			
			<p>At CodeFire we favour attitude and intelligence over a piece of paper. You don't have to have a degree to work here &mdash; just a passion for code, the web and for working smarter.</p>
			
			<article class="clearfix">
        <%= image_tag("aus.png") %>
        <p>The <strong>CodeFire Headquarters</strong> are based in Adelaide but we also have people in Launceston and Melbourne. <em>Remote teams are right up our alley.</em> The Adelaide office is central and close to cafes, restaurants and public transport.</p>
        </article>
			
			<article class="clearfix">
        <%= image_tag("code.png") %>
        <p>We are huge fans of both Ruby and <strong>Ruby on Rails</strong> but love Javascript (almost) as much! The CodeFire team specialises in Test Driven Development, bug-free and usable software that can scale.</p>
			</article>
			
			<article class="clearfix">
        <%= image_tag("lunch.png") %>
        <p>We have regular sessions we call &#8220;Lunch and Learn&#8221; &mdash; have a bite to eat and add a few new tricks to the toolbox. We believe in fostering personal development and CodeFire employees frequently get time to learn new things.</p>
			</article>
			
			<article class="clearfix">
        <%= image_tag("mac.png") %>
        <p>Our toolset includes Git, Pivotal Tracker, Harvest, Skype and Highrise. We develop on Mac and Linux and some of the guys even use Vim for all of their coding :)</p>
			</article>
			
			<article class="clearfix">
        <%= image_tag("partners.png") %>
        <p>We've partnered with some of the best in the business like Heroku and New Relic to make life easier for our clients (but also because these guys are just plain cool).</p>
			</article>
			
    </section>
		

